{{>navegacion/navegacion}}
    <h3>Recuperacion de contrasenas:</h3>

<div class="container p-5">
    <div class="row">
        <div class="col-md-3">
                <form action="">
                    <div class="form-group">
                
                        <label for="usuario">Usuario:</label>
                        <input type="text" name="usuario" id="" class="form-cotrol" placeholder="">

                    </div>
                </form>
                
                <div class="form-group">
                      <a href="http://127.0.0.1:4000/contrasenas/nueva" class="btn btn-secondary">Nueva</a>
                    <a href="http://127.0.0.1:4000/contrasenas/recuperar" class="btn btn-primary">Recuperar</a>
                </div>
        </div>
    </div>
</div>
