
<table class="table">
    <thead>
        <td>No.</td>
        <td>Nombre</td>
        <td>Telefono</td>
        <td>Correo</td>
        <td>Rfc</td>
        <td>Direccion</td>
    </thead>
    {{> proveedores/datos}}
</table>