<div class="form-group">
    <a href="http://127.0.0.1:4000/sucursales/tabla/{{idUsuario}}/{{idSession}}" class="btn btn-primary"> Tabla</a>
    <a href="" class="btn btn-secondary">Targetas</a>
</div> 
