<div class="col-md-3 p-4">
    <div class="card text-center">
        <div class="card-body">
            <a href="">
                <h3 class="card-title text-uppercase">{{nombre}}</h3>
            </a>
            {{> clientes/informacion  }}
            <p>
                {{> clientes/botones/eliminar}}
                {{> clientes/botones/editar}}
                
            </p>
        </div>
    </div>
</div>