{{>navegacion/navegacion}}
<form action="http://127.0.0.1:4000/servicios/nuevo/{{idUsuario}}/{{idSession}}" method="POST">
    {{>servicios/formularioAgregar}}
    <div style="width: 200px; margin-left:30%; margin-top:17%;" >
        {{>servicios/botones/aceptar}}
    </div>
</form>