<div class="col-md-3 p-4">
    <div class="card text-center">
        <div class="card-body">
            <a href="">
                <h3 class="card-title text-uppercase">{{nombre}}</h3>
            </a>
            {{> empleados/informacion  }}
            <p>
              
                    
                 
                    {{> empleados/botones/eliminar}}
                    
                    {{> empleados/botones/editar}}
        
            </p>
        </div>
    </div>
</div>