<table id='myTabla' style="width: 65%; align-content: center; margin-left: 30%; margin-top: -9.8%;"  class="table table-striped table-responsive" border="1">
   
   <thead>
        {{>ventas/ventaActual/titulos}}
   </thead>
{{>ventas/ventaActual/productosServicios}}
</table>