{{>navegacion/navegacion}}
<h4>
    Registro de recargas y paquetes
</h4>   
<form action="http://127.0.0.1:4000/recargas/nueva/{{idUsuario}}/{{idSession}}" method="POST">
{{>recargas/formulario}}
</form>