
<div class="col-md-3 p-4">
    <div class="card text-center">
        <div class="card-body">
            <a href="http://127.0.0.1:4000/sucursales/visualizar/{{ idSucursal}}">
                <h3 class="card-title text-uppercase">{{nombre}}.</h3>
            </a>
            {{> sucursales/informacion  }}
            <p>
                {{> sucursales/botones/eliminar}}
                {{> sucursales/botones/editar}}
                
            </p>
        </div>
    </div>
</div>
