<p class="m-3"><strong> Direccion: <p> 

</strong>{{ colonia }} {{ calle }}  #{{ numero}}</p></p>
            <p class="m-3" ><strong>Referencia:</strong></p>
            <p style="text-align: justify;"> {{ referencia }}</p>
        