<td>
    <input type="checkbox" name="domingo5" id="domingo5" value="domingo5">
</td>
<td>
    <input type="checkbox" name="lunes5" id="lunes5" value="lunes5">
</td>
<td>
    <input type="checkbox" name="martes5" id="martes5" value="martes5">
</td>
<td>
    <input type="checkbox" name="miercoles5" id="miercoles5" value="miercoles5">
</td>
<td>
    <input type="checkbox" name="jueves5" id="jueves5" value="jueves5">
</td>
<td>
    <input type="checkbox" name="viernes5" id="viernes5" value="viernes5">
</td>
<td>
    <input type="checkbox" name="sabado5" id="sabado5" value="sabado5">
</td>