<td>
    <input type="checkbox" name="domingo4" id="domingo4" value="domingo4">
</td>
<td>
    <input type="checkbox" name="lunes4" id="lunes4" value="lunes4">
</td>
<td>
    <input type="checkbox" name="martes4" id="martes4" value="martes4">
</td>
<td>
    <input type="checkbox" name="miercoles4" id="miercoles4" value="miercoles4">
</td>
<td>
    <input type="checkbox" name="jueves4" id="jueves4" value="jueves4">
</td>
<td>
    <input type="checkbox" name="viernes4" id="viernes4" value="viernes4">
</td>
<td>
    <input type="checkbox" name="sabado4" id="sabado4" value="sabado4">
</td>