<td>
    <input type="checkbox" name="domingo10" id="domingo10" value="domingo10">
</td>
<td>
    <input type="checkbox" name="lunes10" id="lunes10" value="lunes10">
</td>
<td>
    <input type="checkbox" name="martes10" id="martes10" value="martes10">
</td>
<td>
    <input type="checkbox" name="miercoles10" id="miercoles10" value="miercoles10">
</td>
<td>
    <input type="checkbox" name="jueves10" id="jueves10" value="jueves10">
</td>
<td>
    <input type="checkbox" name="viernes10" id="viernes10" value="viernes10">
</td>
<td>
    <input type="checkbox" name="sabado10" id="sabado10" value="sabado10">
</td>