<td>
    <input type="checkbox" name="domingo12" id="domingo12" value="domingo12">
</td>
<td>
    <input type="checkbox" name="lunes12" id="lunes12" value="lunes12">
</td>
<td>
    <input type="checkbox" name="martes12" id="martes12" value="martes12">
</td>
<td>
    <input type="checkbox" name="miercoles12" id="miercoles12" value="miercoles12">
</td>
<td>
    <input type="checkbox" name="jueves12" id="jueves12" value="jueves12">
</td>
<td>
    <input type="checkbox" name="viernes12" id="viernes12" value="viernes12">
</td>
<td>
    <input type="checkbox" name="sabado12" id="sabado12" value="sabado12">
</td>