<td>
    <input type="checkbox" name="domingo2" id="domingo2" value="domingo2">
</td>
<td>
    <input type="checkbox" name="lunes2" id="lunes2" value="lunes2">
</td>
<td>
    <input type="checkbox" name="martes2" id="martes2" value="martes2">
</td>
<td>
    <input type="checkbox" name="miercoles2" id="miercoles2" value="miercoles2">
</td>
<td>
    <input type="checkbox" name="jueves2" id="jueves2" value="jueves2">
</td>
<td>
    <input type="checkbox" name="viernes2" id="viernes2" value="viernes2">
</td>
<td>
    <input type="checkbox" name="sabado2" id="sabado2" value="sabado2">
</td>