<td>
    <input type="checkbox" name="domingo9" id="domingo9" value="domingo9">
</td>
<td>
    <input type="checkbox" name="lunes9" id="lunes9" value="lunes9">
</td>
<td>
    <input type="checkbox" name="martes9" id="martes9" value="martes9">
</td>
<td>
    <input type="checkbox" name="miercoles9" id="miercoles9" value="miercoles9">
</td>
<td>
    <input type="checkbox" name="jueves9" id="jueves9" value="jueves9">
</td>
<td>
    <input type="checkbox" name="viernes9" id="viernes9" value="viernes9">
</td>
<td>
    <input type="checkbox" name="sabado9" id="sabado9" value="sabado9">
</td>