<td>
    <input type="checkbox" name="domingo8" id="domingo8" value="domingo8">
</td>
<td>
    <input type="checkbox" name="lunes8" id="lunes8" value="lunes8">
</td>
<td>
    <input type="checkbox" name="martes8" id="martes8" value="martes8">
</td>
<td>
    <input type="checkbox" name="miercoles8" id="miercoles8" value="miercoles8">
</td>
<td>
    <input type="checkbox" name="jueves8" id="jueves8" value="jueves8">
</td>
<td>
    <input type="checkbox" name="viernes8" id="viernes8" value="viernes8">
</td>
<td>
    <input type="checkbox" name="sabado8" id="sabado8" value="sabado8">
</td>