<td>
    <input type="checkbox" name="domingo11" id="domingo11" value="domingo11">
</td>
<td>
    <input type="checkbox" name="lunes11" id="lunes11" value="lunes11">
</td>
<td>
    <input type="checkbox" name="martes11" id="martes11" value="martes11">
</td>
<td>
    <input type="checkbox" name="miercoles11" id="miercoles11" value="miercoles11">
</td>
<td>
    <input type="checkbox" name="jueves11" id="jueves11" value="jueves11">
</td>
<td>
    <input type="checkbox" name="viernes11" id="viernes11" value="viernes11">
</td>
<td>
    <input type="checkbox" name="sabado11" id="sabado11" value="sabado11">
</td>