<td>
    <input type="checkbox" name="domingo6" id="domingo6" value="domingo6">
</td>
<td>
    <input type="checkbox" name="lunes6" id="lunes6" value="lunes6">
</td>
<td>
    <input type="checkbox" name="martes6" id="martes6" value="martes6">
</td>
<td>
    <input type="checkbox" name="miercoles6" id="miercoles6" value="miercoles6">
</td>
<td>
    <input type="checkbox" name="jueves6" id="jueves6" value="jueves6">
</td>
<td>
    <input type="checkbox" name="viernes6" id="viernes6" value="viernes6">
</td>
<td>
    <input type="checkbox" name="sabado6" id="sabado6" value="sabado6">
</td>