<td>
    <input type="checkbox" name="domingo7" id="domingo7" value="domingo7">
</td>
<td>
    <input type="checkbox" name="lunes7" id="lunes7" value="lunes7">
</td>
<td>
    <input type="checkbox" name="martes7" id="martes7" value="martes7">
</td>
<td>
    <input type="checkbox" name="miercoles7" id="miercoles7" value="miercoles7">
</td>
<td>
    <input type="checkbox" name="jueves7" id="jueves7" value="jueves7">
</td>
<td>
    <input type="checkbox" name="viernes7" id="viernes7" value="viernes7">
</td>
<td>
    <input type="checkbox" name="sabado7" id="sabado7" value="sabado7">
</td>