<td>
    <input type="checkbox" name="domingo3" id="domingo3" value="domingo3">
</td>
<td>
    <input type="checkbox" name="lunes3" id="lunes3" value="lunes3">
</td>
<td>
    <input type="checkbox" name="martes3" id="martes3" value="martes3">
</td>
<td>
    <input type="checkbox" name="miercoles3" id="miercoles3" value="miercoles3">
</td>
<td>
    <input type="checkbox" name="jueves3" id="jueves3" value="jueves3">
</td>
<td>
    <input type="checkbox" name="viernes3" id="viernes3" value="viernes3">
</td>
<td>
    <input type="checkbox" name="sabado3" id="sabado3" value="sabado3">
</td>