<td>
    <input type="checkbox" name="domingo1" id="domingo1" value="domingo1">
</td>
<td>
    <input type="checkbox" name="lunes1" id="lunes1" value="lunes1">
</td>
<td>
    <input type="checkbox" name="martes1" id="martes1" value="martes1">
</td>
<td>
    <input type="checkbox" name="miercoles1" id="miercoles1" value="miercoles1">
</td>
<td>
    <input type="checkbox" name="jueves1" id="jueves1" value="jueves1">
</td>
<td>
    <input type="checkbox" name="viernes1" id="viernes1" value="viernes1">
</td>
<td>
    <input type="checkbox" name="sabado1" id="sabado1" value="sabado1">
</td>