<table style="width: 90%;"> 
    <thead class="thead-dark" style="border: 1;">
     
       <tr style="text-align: center;"> 
            <th  scope="col">{{clave}}</th>
            <th  scope="col">Producto/Servicio</th>
            <th>Marca</th>
            <th>Gastos</th>
            <th  scope="col">Costo</th>  
            <th  scope="col">Iva</th>  
            <th  scope="col">Utilidad</th>   
            <th  scope="col">Precio estimado</th>   
            <th  scope="col">Precio de venta</th>  
             <th  scope="col">Descuento</th> 
             <th  scope="col">Cantidad</th> 
            <th  scope="col">Total</th>         
             <th  scope="col">Existencia</th>     
        </tr>
        
</thead>
<tbody>
 {{#if ventasfechaServicios}}
    <div style="background-color: tan;">
               <tr style="text-align:center">
          {{> reportes/tablas/ventaServicios }}

     </tr>
    </div>

{{/if}}
{{#if ventasfechaProductos}}
    <div style="background-color: tan;">
               <tr style="text-align:center">
          {{> reportes/tablas/ventaProductos }}
     </tr>
    </div>

{{/if}}
</tbody>
</table>

