
<div class="row"style="width: 50%; height:550px;">
    <iframe src="/productos/buscar/{{idUsuario}}/{{idSession}}" frameborder="0" height="100%" width="210%"></iframe>
       
        
    </iframe>
</div>