<div class="col-md-3 p-4">
    <div class="card text-center">
        <div class="card-body">
            <a href="">
                <h3 class="card-title text-uppercase">{{marca}} {{serie}} {{linea}}</h3>
            </a>
            {{> productos/informacion  }}
            <p>
                {{> productos/botones/eliminar}}
                {{> productos/botones/editar}}
                
            </p>
        </div>
    </div>
</div>