<p class="m-3"><strong>   Clave | Codigo de barras:</strong></p>
<p style="text-align: justify;"> {{ clave }}</p>
<p class="m-3"><strong>    Descripción: </strong></p>
<p style="text-align: justify;"> {{ descripcion }}</p>
            <p class="m-3" ><strong>sección:</strong></p>
            <p style="text-align: justify;"> {{ seccion }}</p>
       