{{> navegacion/navegacion }}
<div class="container p-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                
                       
                {{#each sucursal}}
                <form action="http://127.0.0.1:4000/sucursales/editar/{{idSucursal}}/{{idUsuario}}/{{idSession}}" method="POST">
                    <div class="card-body">
                             {{> sucursales/formularioEdit}}
                            {{> botones/aceptar }}
                    </div>
                </form>
                {{/each}}
               
            </div>
        </div>
        <div class="col-md-3">
            {{>sucursales/tablaSucursales}}
        </div>
         
    </div>
    
</div>
