
<table class="table">
    <thead>
        <td>Clave</td>
        <td>Seccion</td>
        <td>Producto</td>
        <td>Descripcion</td>
        <td>Garantia</td>
    </thead>
    {{> productos/datos}}
</table>