@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#banner {
    margin-top: 0;
    position: relative;
}

.conte {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.conte h1 {
    font-size: 12px;
}

.conte p {
    font-size: 12px;
}

.conte a {
    display: block;
    width: 160px;
    text-decoration: none;
    padding: 20px;
    margin-top: 25px;
    border-radius: 35px;
    background: #0C746C;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}